#root {
  height: 100%;
  background: black;
}

.App {
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1597437176788-c8fdb5bc1643?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHdhbGx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  height: 100%;
}

