@import url('https://fonts.googleapis.com/css2?family=Lekton&family=Parisienne&family=Saira+Semi+Condensed:wght@300&display=swap');

.logo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 200px;
    color: #fff;
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    h1 {
        font-family: 'Parisienne', cursive;
        margin: 0;
        font-size: 100px;
    }

    .add {
        font-size: 100px;
        position: relative;
        bottom: 40px;
        margin: 0 10px;
        transition: all 0.1s;
        cursor: pointer;
    }

    .add:hover {
        font-size: 110px;
        bottom: 30px;
    }
}

.index-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.wine-shelf {
    display: flex;
    justify-content: center;
    background-image: url('https://i.imgur.com/kh3AHT7.png');
    height: 300px;
    width: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 550px;

    .wine {
        position: relative;
        bottom: -40px;
        margin: 0 -10px;
        cursor: pointer;
        img {
            height: 120px;
            transition: height 0.1s;
        }
        img:hover {
            height: 135px
        }
    }
}

@mixin glow-box {
    box-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
    border: solid #ff4da6 1px;
}

.wine-show {
    display: flex;
    justify-content: center;
    @include glow-box;
    background: rgba(17, 40, 53, 0.714);
    border-radius: 10px;
    padding: 15px;
    color: white;
    font-family: 'Parisienne', cursive;

    .info {
        max-width: 350px;
        display: flex;
        flex-direction: column;
    }

    .display {
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        img {
            height: 200px;
            padding: 10px 0;
            box-sizing: border-box;
        }

        button {
            font-family: 'Parisienne', cursive;
            cursor: pointer;
            font-weight: 800;
            background: none;
            color: #ff4da6;
        }
    }

    h1 {
        input {
            font-size: inherit;
            margin-bottom: 5px;
        }
        margin-bottom: 0;
        margin-top: 5px;
    }

    h2 {
        input {
            font-size: inherit;
        }
        margin-top: 0;
        margin-bottom: 5px;
        text-align: left;
    }

    textarea {
        color: white;
        background: none;
        border: 1px solid white;
        resize: none;
        height: fit-content;
        box-sizing: border-box;
        height: 72px;
    }

    input {
        width: 100%;
        background: none;
        border: 1px solid white;
        box-sizing: border-box;
        color: white;
        border-radius: 10px;
        font-family: 'Parisienne', cursive;
    }

    button {
        cursor: pointer;
    }
}

.content-container {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
}

.selected {
    height: 135px !important;
}